.feedback-container {
    display: flex;
    width: 100%;
    padding: 10px;
}

.feedback-image-container {
    flex-basis: 80px;
}

.feedback-image {    
    width: 50px;
    margin: 11px;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    border-radius: 50%;
    border: 1px solid #005dff;
}

.feedback-box {
    background-color: white;
    padding: 8px;
    color: black;
    flex: 1;
    border-radius: 4px;
    border: 1px solid #b1b1b1;
    box-shadow: 0 0 9px rgba(0,0,0,0.1);
}

.feedback-writer {
    font-weight: bold;
    font-size: 14px;
    display: block;
}

.feedback-content {

}

.feedback-datetime {
    color: gray;
    text-align: left;
}