<h4 class="page-title">אודות</h4>
<hr>
<div class="card developer-card">
  <img class="card-img-top" src="../../assets/about-developer.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">טל פלד</h5>
    <p class="card-text">
      קצת עלי - אני בת 28 , עובדת בחברת תוכנה בשם STMS אשר מפתח אפליקציות לניהול מעבדות רפואיות בארץ ובעולם.
      במשך השנה האחרונה אני לומדת קורס Full Stack במכללת ג'ון ברייס.
      גדלתי בישוב באיזור ירושלים שנקרא הר אדר. כיום מתגוררת בתל אביב, ומגדלת כלבלב חמוד בשם ג'ימי.
      בזמני החופשי אני מאוד אוהבת לטייל ,לצלם, להרגע מול הים ובעיקר לבלות עם חברים.
    </p>
    <p> מקווה שתהנו מהמשחק ! </p>
  </div>
</div>